<div class='container'>
    <div class='center list flex-column'>
      <div class='card flex-row open'>
        <img src='https://img.freepik.com/free-photo/3d-render-graduation-cap-with-diploma-certificate_107791-16842.jpg?w=900&t=st=1679775892~exp=1679776492~hmac=f7fa61bc0560f5654071bfbbb3bd01e5f1e62c8ec6d1760cd354ef5b4b2a7834' class='book'>
        <div class='flex-column info'>
          <div class='title'>HDFC Educational Crisis Scholarship Scheme</div>
          <div class='hidden bottom summary'>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod ratione impedit temporibus maiores autem aperiam assumenda exercitationem, quisquam nobis esse.
          </div>
        </div>
        <div class='flex-column group'>
          <div class='members'>
            <span class='current'>14</span> /
            <span class='max'>30</span>
          </div>
          <div class='hidden bottom'>
            <button class='simple' routerLink="/scholarship/641ef04ce515b1ea2f47a2a4">View</button>
          </div>
        </div>
      </div>
      <div class='card flex-row open'>
        <img src='https://img.freepik.com/free-photo/3d-render-graduation-cap-with-diploma-certificate_107791-16842.jpg?w=900&t=st=1679775892~exp=1679776492~hmac=f7fa61bc0560f5654071bfbbb3bd01e5f1e62c8ec6d1760cd354ef5b4b2a7834' class='book'>
        <div class='flex-column info'>
          <div class='title'>Foundation for Academic Excellence and Access (FAEA)</div>
          <div class='hidden bottom summary'>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod ratione impedit temporibus maiores autem aperiam assumenda exercitationem, quisquam nobis esse.
          </div>
        </div>
        <div class='flex-column group'>
          <div class='members'>
            <span class='current'>14</span> /
            <span class='max'>30</span>
          </div>
          <div class='hidden bottom'>
            <button class='simple' routerLink="/snapshot/641ef07fe515b1ea2f47a2a6">View</button>
          </div>
        </div>
      </div>
      <div class='card flex-row open'>
        <img src='https://img.freepik.com/free-photo/3d-render-graduation-cap-with-diploma-certificate_107791-16842.jpg?w=900&t=st=1679775892~exp=1679776492~hmac=f7fa61bc0560f5654071bfbbb3bd01e5f1e62c8ec6d1760cd354ef5b4b2a7834' class='book'>
        <div class='flex-column info'>
          <div class='title'>Indian Oil Academic Scholarships</div>
          <div class='hidden bottom summary'>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod ratione impedit temporibus maiores autem aperiam assumenda exercitationem, quisquam nobis esse.
          </div>
        </div>
        <div class='flex-column group'>
          <div class='members'>
            <span class='current'>14</span> /
            <span class='max'>30</span>
          </div>
          <div class='hidden bottom'>
            <button class='simple' routerLink="/scholarship/641ef098e515b1ea2f47a2a8">View</button>
          </div>
        </div>
      </div>
      <div class='card flex-row open'>
        <img src='https://img.freepik.com/free-photo/3d-render-graduation-cap-with-diploma-certificate_107791-16842.jpg?w=900&t=st=1679775892~exp=1679776492~hmac=f7fa61bc0560f5654071bfbbb3bd01e5f1e62c8ec6d1760cd354ef5b4b2a7834' class='book'>
        <div class='flex-column info'>
          <div class='title'>Aditya Birla Scholarship</div>
          <div class='hidden bottom summary'>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod ratione impedit temporibus maiores autem aperiam assumenda exercitationem, quisquam nobis esse.
          </div>
        </div>
        <div class='flex-column group'>
          <div class='members'>
            <span class='current'>14</span> /
            <span class='max'>30</span>
          </div>
          <div class='hidden bottom'>
            <button class='simple' routerLink="/scholarship/641ef098e515b1ea2f47a2a8">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>