<ul>
    <li><button appEvent curr="{{curr}}" next="terms" [id]="id" (mousedown)="setCurr('terms')">terms</button></li>
    <li><button appEvent curr="{{curr}}" next="bookmark" [id]="id" (mousedown)="setCurr('bookmark')">bookmark</button></li>
    <li><button appEvent curr="{{curr}}" next="peer-review" [id]="id" (mousedown)="setCurr('peer-review')">peer review</button></li>
    <li><button appEvent curr="{{curr}}" next="download-rulebook" [id]="id" (mousedown)="setCurr('download-rulebook')">download rulebook</button></li>
    <li><button appEvent curr="{{curr}}" next="applied" [id]="id" (mousedown)="setCurr('applied')">applied</button></li>
    <li><button appEvent curr="{{curr}}" next="visited-sponsor" [id]="id" (mousedown)="setCurr('visited-sponsor')">visited sponsor</button></li>
    <li><button appEvent curr="{{curr}}" next="follow-up-enquiry" [id]="id" (mousedown)="setCurr('follow-up-enquiry')">follow-up enquiry</button></li>
    <li><button appEvent curr="{{curr}}" next="follow-up-email" [id]="id" (mousedown)="setCurr('follow-up-email')">follow-up email</button></li>
    <li><button appEvent curr="{{curr}}" next="re-upload-documents" [id]="id" (mousedown)="setCurr('re-upload-documents')">re-upload documents</button></li>
</ul>