<!-- <input type="text" [(NgModel)]="curr">
{{curr}}
<input type="text" [(NgModel)]="next">
<button appEvent [curr]="curr" [next]="next" [id]="id">Send</button> -->
<button routerLink="/tnc" appEvent curr="view" next="TnC">Terms and Condition</button>
<button  appEvent curr="view" next="bookmark">Bookmark</button>
<button routerLink="/peerReview" appEvent curr="view" next="peerReview">Peer Review</button>
<!-- <form id="email-form" name="email-form" data-name="Email Form" aria-label="Email Form" #f="ngForm">
    <input ngModel type="text" class="input-field w-input" maxlength="256" name="curr" data-name="Email" placeholder="Curr" id="Email">
    <input ngModel type="text" class="input-field w-input" maxlength="256" name="next" data-name="password" placeholder="Next" >
    <input appEvent curr="{{f.value.curr}}" next="{{f.value.next}}" id="1" type="submit" value="Login" data-wait="Please wait..." class="login-btn w-button">
</form> -->